body {
    font-family: Helvetica, Arial, sans-serif;
    margin:0;
}
#topborder {
    height: 8px;
    background-color: #39bb9d;
}

#topborder.idea {
    background-color:#6775b8;
}

#topborder.bluepaper {
    background-color:#0061af;
}


#articlecontent {
    max-width:600px;
    text-align: center;
    margin:auto;
}
#title {
    text-align: center;
    font-size: 2em;
    margin: 1em;
}
#pubtime {
    text-align: center;
    font-style: italic;
    color:#a1a2a5;
    margin: 1em;
}
#authors {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 2.5rem;
}

#readmore {
    margin: 2em;
    text-align: center;
    font-size: 1em;
}
a {
    color:  #428bca;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
#summary {
    text-align: left;
    margin: 2em 1em;
    line-height:1.5rem;
}

.section-block.header {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAACFIAAACTCAIAAAAoOTiYAAAAGXRFW…ijWYsfmowEJs/LSbRc4sSeh+i136TfM23/f0Lx8d8EGAC89c+CVxzmKgAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #394e9b;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}

.section-block:first-child {
    padding: 3.8rem 1.5rem;
    margin-bottom: 3.5rem;
}
#footer {
    color: #888;
    background-color: #eee;
    padding: 2em 1em; 
    font-size: 0.8em;
    text-align: center;
}

/* CSS for index page */
#list-header {
    margin: 0;
    font-size: 2em;
    background-color:#0f8ec7;
    color:#fff;
    font-weight:normal;
    padding:2em;
    text-align: center;
}
#list-items {
    margin-top:1em;
  
}
.list-item {
    margin: 1em;
    padding:1em;
    border-bottom: 1px solid #aaa;
}
.list-item-title {
    font-size:1.1em;
}
.list-item-summary {
    margin:0.5em 0;
    color:#6e6e6e;
}
.list-item-author  {
    display:inline;
    color:#333;
    font-size:0.9em;
}
.list-item-pubdate{
    display:inline;
    margin-left:1em;
    color:#999;
    font-style: italic;
    font-size:0.9em;
}
